.cars-header {
    text-align: center;
}

.cars {
    padding: 20px 20px 20px 20px;
}

th, tr {
    text-align: center;
    width: 25%;
}

.cars-table {
    box-shadow: 0 0 0 1px #4b4b4b;
}

.car-icon {
    max-width: 100px;
    max-height: 100px;
}